@model LMS.ViewModel.BookLoanVM

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Book</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
           Author
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Book.Authors.FirstName)
        </dd>

        <dt>
           Publisher
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Book.Publishers.Name)
        </dd>

        <dt>
            Book Title
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Book.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Book.Quantities)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Book.Quantities)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Book.AgeRestricted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Book.AgeRestricted)
        </dd>

        <dt>
            OnShelf
        </dt>

        <dd>
            @{
                if (Model.Loans != null && Model.Loans.Count!=0)
                {
                    foreach (var loan in Model.Loans)
                    {
                        int onShelf = Model.Book.Quantities - loan.Quantity;
                        <p>@onShelf</p>
                        @*<p>@Model.Book.Quantities</p>
                        <p>@loan.Quantity</p>*@
                    }
                }
                else
                {
                    <p>@Model.Book.Quantities</p>
                }
            }
        </dd>
       

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
