@model LMS.ViewModel.BookLoanVM

@{
    ViewBag.Title = "Index";
}

<h2>Search books</h2>
@using (Html.BeginForm("Index", "Home", FormMethod.Get))
{
    //the following are search options
    <b> Search Option: </b>@Html.RadioButton("option", "Author") <text>Author</text> @Html.RadioButton("option", "Publisher") <text>Publisher</text>
    @Html.RadioButton("option", "Book")<text>Book</text> @Html.TextBox("search") <input type="submit" name="submit" value="Search" />
}
<table class="table">
    <tr>
        <th>
            Book
        </th>
        <th>
            Author
        </th>
        <th>
            Publisher
        </th>

        <th>
            Quantities
        </th>
        <th>
            Age Restricted
        </th>
       <th>Published Date</th>
       <th></th>

    </tr>

    @foreach (var item in Model.Books)
    {

    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Authors.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Publishers.Name)

        <td>
            @Html.DisplayFor(modelItem => item.Quantities)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AgeRestricted)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PublishedOn)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
        </td>

    </tr>
    }

</table>
