@model IEnumerable<Model.Book>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@using (Html.BeginForm("Index", "Home", FormMethod.Get))
{
    //the following are search options
    <b> Search Option: </b>@Html.RadioButton("option", "Author") <text>Author</text> @Html.RadioButton("option", "Publisher") <text>Publisher</text>
    @Html.RadioButton("option", "Book")<text>Book</text> @Html.TextBox("search") <input type = "submit" name = "submit" value = "Search" />
    }
    <table class="table">
        <tr>
            <th>
               Book
            </th>
            <th>
                Author
            </th>
            <th>
               Publisher
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Quantities)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AgeRestricted)
            </th>

        </tr>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Authors.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Publishers.Name)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Quantities)
            </td>
            <td>
                @Html.DisplayFor(modelItem=>item.AgeRestricted)
            </td>

        </tr>
        }

    </table>
